
    
<nav>
    <ul class="flex_display">
        <li class="home">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./Scheduling">Scheduling</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./VolunteerList">VolunteerList</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

