
    
<!-- <nav> -->
    <div class="flex_display">
        <div>
            <button class="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">Home</button>
        </div>       
        <div>
            <button class="nav-item" routerLinkActive="active" routerLink="./Scheduling">Scheduling</button>
        </div>

        <div>
          <button class="nav-item" routerLinkActive="active" routerLink="./VolunteerList">VolunteerList</button>
        </div>
    </div>

<!-- </nav> -->
<router-outlet></router-outlet>

