.centered-table {
    margin: 0 auto; /* ממרכז את הטבלה */
    width: 80%; /* קובעת את רוחב הטבלה (את יכולה לשנות את הערך לפי הצורך) */
    max-width: 800px; /* קובעת את הרוחב המקסימלי של הטבלה */
  }

  .container{
    display: flex;
    align-items: center;
  }

  .mat-header-cell, .mat-cell {
    text-align: center; /* מרכז את התוכן בכל תא */
    vertical-align: middle; /* מרכז את התוכן אנכית במרכז התא */
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }